<html>
  <head>
  	<title>EchoBot</title>
  	<link href="static/client.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>EchoBot via WebSocket</h1>
    <form id="message_form">
	    Message:
	    <textarea rows="2" cols="50" id="message"></textarea>
	    <input type=BUTTON value="Send" id="sendButton">
    </form>
    <hr>
    <p id="echo"></p>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/client.js"></script>
  </body>
</html>